
@font-face {
    font-family: 'Montserrat';
    src: url('MontserratRegular.eot');
    src: url('MontserratRegular.eot?#iefix') format('embedded-opentype'),
         url('MontserratRegular.woff') format('woff'),
         url('MontserratRegular.ttf') format('truetype'),
         url('MontserratRegular.svg#MontserratRegular') format('svg');
    font-weight: 400;
    font-style: normal;

}


@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Bold.eot');
    src: url('Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
         url('Montserrat-Bold.woff') format('woff'),
         url('Montserrat-Bold.ttf') format('truetype'),
         url('Montserrat-Bold.svg#Montserrat-Bold') format('svg');
    font-weight: 700;
    font-style: normal;

}


